
  <div class="col-md-12">

    <div class="turn_info">
      <div class"col-md-12">

        <div class="card_info">
          <b>instructions</b>
          <p class="text-info">
          <% if current_player(@game.id).id == @game.gamemanager.player_turn %>

            <% unless @game.gamemanager.prompt.nil? %>
              <%=raw @game.gamemanager.prompt %>
            <% end %>

            <% if @game.gamemanager.action_phase.nil? %>
              <%= form_tag("/games/" + @game.id.to_s + "/gamemanagers/" + @game.gamemanager.id.to_s + "/next_phase", remote: true) do %>
                <br />
                <div class="instruction_button"><%= submit_tag "End " + @game.gamemanager.phase + " Phase", class: "btn btn-primary btn-xs" %></div>
              <% end %>
            <% else %>
              <%= form_tag("/games/" + @game.id.to_s + "/gamemanagers/" + @game.gamemanager.id.to_s + "/end_card_action", remote: true) do %>
                <br />
                <div class="instruction_button"><%= submit_tag "End " + @game.gamemanager.action_phase + " Phase", class: "btn btn-warning btn-xs" %></div>
              <% end %>
            <% end %>

          <% else %>
            It's not your turn!
          <% end %>
          </p>
        </div>

        <div class="game_info">
          <p class="text-primary">
          <b>Player Turn:</b> <%= @game.gamemanager.current_player_name %><br />
          <b>Phase:</b> <%= @game.gamemanager.phase %><br />
          <% if current_player(@game.id).id == @game.gamemanager.player_turn %>
            <b>Treasure:</b> <%= @game.gamemanager.current_treasure_balance %> | <b>Actions:</b> <%= @game.gamemanager.actions %> | <b>Buys:</b> <%= @game.gamemanager.buys %>
          <% end %>
          </p>
        </div>

      </div>
    </div>
  
  <div class="played_supply_cards">
    <div class="col-md-6 panel panel-info">
      <div class="panel-heading">
        <b>played_cards</b>
      </div>
      <div class="panel-body">
        <% unless @player.played.nil? || @player.played.empty? %>
          <%= render @player.played.cards %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 panel panel-info">
      <div class="panel-heading">
        <b>supply_cards</b>
      </div>
      <div class="panel-body">
      <% unless @supply_cards.nil? %>
        <% @supply_cards.each do |key, val| %>
          <%= render :partial => 'cards/supply_card', :locals => { :name => key, :values => val } %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-12 player_panel">

      <div class="col-md-2 panel panel-info">
        <div class="panel-heading">
          <b>player_supply</b>
        </div>
        <div class="panel-body">
          <div class="player_supply">
            <div class="card" id=-1 data-name="PlayerSupply" >
              <b>Player Supply</b><br />
              <b>Count <%=@player.supply.cards.size %></b><br />
             </div>          
          </div>
        </div>
      </div>

      <div class="col-md-8 panel panel-info">
        <div class="panel-heading">
          <b>player_hand</b>
        </div>
        <div class="panel-body">
          <div class="hand_cards">
            <% unless @player.hand.nil? || @player.hand.empty? %>
              <%= render @player.hand.cards %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-2 panel panel-info">
        <div class="panel-heading">
          <b>player_discard</b>
        </div>
        <div class="panel-body">
          <div class="player_discard">
            <div class="card" id=-1 data-name="PlayerDiscard" >
              <b>Player Discard</b><br />
              <b>Count <%=@player.discard.cards.size %></b><br />
             </div>
          </div>
        </div>
      </div>

  </div>

  </div>
