<% provide(:title, 'New Game') %>
<h1>Create A New Game</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <%= form_tag "/games/addplayer" do %>
      <% if @game_users.size < 5 %>
        <span class = "glyphicon glyphicon-user"></span>  <%= label_tag 'player', 'Add Player (Max 5 Players)' %>
        <%= select_tag 'player', options_from_collection_for_select( @avail_users, 'id', 'name')  %>
      <% end %>

      <% if @game_users.any? %>
        <% @game_users.each do |user| %>
          <ol>
            <%= gravatar_for user, size: 20 %>
            <%= link_to user.name, user %>
          </ol>
        <% end %>
      <% end %>

      <% if @game_users.size < 5 %>
        <%= hidden_field_tag 'game_players', @game_players.to_s %>
        <%= hidden_field_tag 'creator_id', @creator_id.to_s %>
        <%= submit_tag "Add Player", class: "btn btn-primary" %>
      <% end %>
    <% end %>
      
    <% if @game_users.size > 1 %>
      <%= form_tag "/games/create" do %>
        <%= hidden_field_tag 'game_players', @game_players.to_s %>
        <%= hidden_field_tag 'creator_id', @creator_id.to_s %>
        <%= submit_tag "Create Game", class: "btn btn-primary" %>
      <% end %>
    <% end %>

  </div>
</div>
