<div class="card" id=<%= card.id %> data-name="<%= card.cardmapping.name %>" >
  <b><%= card.cardmapping.name %></b><br />
  <%= card.cardmapping.text %><br />
  Cost <%= card.cardmapping.cost %>
</div>

